body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

.nav {
  grid-area: nav;
  background-color: rgb(51, 51, 51);
  border-bottom: 5px solid rgb(85, 85, 85);
}

.nav__title {
  margin: 0 0 0 5px;
  color: white;
}

main {
  margin: 8px;
  grid-area: main;
}

.dashboard {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    ". main .";
  grid-template-columns: minmax(5px, auto) minmax(150px, 350px) minmax(
      5px,
      auto
    );
  grid-template-rows: 40px auto;
}

.remove-button {
  border-radius: 50%;
  border: none;
  background-color: rgb(117, 0, 0);
  color: white;
  text-decoration: none;
  margin: 0 1px 0 1px;
}

input[type="text"],
select {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1px;
}

.title-and-button {
  display: flex;
  align-items: center;
}
